<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Medical List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Medical List</h2>
        <table>
            <thead>
                <tr>
                    <th>Lastname</th>
                    <th>Name</th>
                    <th>Shift</th>
                    <th>Specialty</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="doctor : ${doctors}">
                    <td th:text="${doctor.lastname}"></td>
                    <td th:text="${doctor.name}"></td>
                    <td th:text="${doctor.shiftType}"></td>
                    <td th:text="${doctor.specialty}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
