<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Medical List</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Medical List</h2>
        <form th:action="@{/doctor/search}" method="get">
            <label for="specialty">Search by Specialty:</label>
            <select id="specialty" name="specialty">
                <option value="">-- Select Specialty --</option>
                <option th:each="specialty : ${T(com.medicalappointments.medicalappointmentsmanager.enums.DoctorSpecialty).values()}"  
                        th:text="${specialty}"  
                        th:value="${specialty}">
                </option>
            </select>
            <button type="submit">Search</button>
        </form>

        <br/>

        <table>
            <thead>
                <tr>
                    <th>Lastname</th>
                    <th>Name</th>
                    <th>Shift</th>
                    <th>Specialty</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="doctor : ${doctors}">
                    <td th:text="${doctor.lastname}"></td>
                    <td th:text="${doctor.name}"></td>
                    <td th:text="${doctor.shiftType}"></td>
                    <td th:text="${doctor.specialty}"></td>
                    <td><a th:href="@{/appointment/schedule(doctorId=${doctor.id})}">Schedule</a></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
