<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Schedule an Appointment</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
         <div th:if="${success}" style="color: green;">[[${success}]]</div>
        <div th:if="${error}" style="color: red;">[[${error}]]</div>
        <form th:action="@{/appointment/confirm}" method="post">
            <input type="hidden" th:name="doctorId" th:value="${doctor.id}" />
            
            <label>Doctor Name</label>
            <input type="text" th:value="${doctor.name}" disabled/>
            
            <label>Doctor Lastname</label>
            <input type="text" th:value="${doctor.lastname}" disabled/>
            
            <label>Doctor Specialty</label>
            <input type="text" th:value="${doctor.specialty}" disabled/>
            
            <label for="appointmentDate">Select Date:</label>
            <input type="date" name="appointmentDate" required />

            <label for="appointmentTime">Select Hour:</label>
            <select name="appointmentTime" required>
                <option th:each="hour : ${availableHours}" th:value="${hour}" th:text="${hour}"></option>
            </select>

            <button type="submit">Confirm Appointment</button>
        </form>
    </body>
</html>
